<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-success" role="alert">
    <%= alert %>
  </div>
<% end %>
